<% include includes/header.ejs %>
    <div class="jumbotron jumbotron-fluid landing-jumbotron">
      <div class="container">
        <h1 class="display-4">clonner</h1>
        <p class="lead">Welcome to my crappier version of Twitter. Made with love.</p>
      </div>
    </div>
  </body>
</html>
